# Specific to eslintignore
pnpm-lock.yaml
**/*/pnpm-lock.yaml
tests/__snapshots__
tests/cases

# Everything below this point should match gitignore

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.eslintcache
.npmrc

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
